.button {
    border-radius: 15px;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #58D68D;
    padding: 5px 12px 5px 12px;
}

.button:hover {
    background-color: white;
    cursor: pointer;
    color: #58D68D;
}


.works-btn {
    border-radius: 10px;
    color: black;
    font-size: 7rem;
    font-weight: 2rem;
    background-color:yellow;
    padding: 7px 70px 7px 70px;
    margin: 3rem 3rem 3rem 3rem;
    
}

.works-btn:hover {
    background-color: white;
    cursor: pointer;
    color: #58D68D;
    font-weight: bold;
}


